Source: fotoshare
Section: user/utilities
Priority: extra
Maintainer: Philippe Coval <rzr@gna.org>
Build-Depends: debhelper (>= 8.0.0),
  python-pyside.qtgui, python-pyside.qtopengl, python-pyside.qtdeclarative, 
  python, 
  python-qtmobility, 
  python-crypto, python-pkg-resources, python-imaging, python-dbus
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/fotosharen9.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fotosharen9.git;a=summary

Package: fotoshare
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FotoShareN9 installation.
 <insert long description, indented with spaces>




