Package: fotoshare
Version: 0.0.0-1
Architecture: amd64
Maintainer: Philippe Coval <rzr@gna.org>
Installed-Size: 27
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
